{{ define "index" }}
{{ template "base" .}}
<div class="container">

    <h1>List of All Books</h1>

    <h3 class="text-light"><a href="/books/add" class="badge bg-secondary text-decoration-none text-reset">Add Book</a></h3>
    <div class="row">
        {{ range .data }}

        <div class="col-md-4 col-sm-6 d-flex align-items-stretch mt-3">
            <div class="card">
                <div class="card-header text-center ">
                    <h4>
                        <a href="/books/{{.id}} " class="text-reset text-decoration-none "> {{.title}} </a></h4>
                </div>
                <div class="card-body ">
                    <h5 class="card-title ">Rp. {{.discountPrice}}</h5>
                    <p class="card-text "><s class="text-danger">Rp. {{.price}}</s> <span class="badge bg-warning text-dark">{{.discount}}% off</span></p>
                    <p class="card-text ">{{.description}}</p>
                    <p class="card-text ">{{.rating}} / 10</p>
                    <a href="/books/edit/{{.id}} " class="btn btn-primary ">Edit</a>
                    <a href="/books/delete/{{.id}}" class="btn btn-primary ">Delete</a>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>

{{end}}