{{ define "main" }}
<div class="container">
    <h1>Update book {{.data.title}}</h1>

    <h3 class="text-light"><a href="/" class="badge bg-secondary text-decoration-none text-reset">Back to List of Books</a></h3>

    <form method="POST" action="">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{.data.title}}" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" value="{{.data.description}}" name="description" required>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" value="{{.data.price}}" name="price" aria-describedby="priceHelp" required>
            <div id="priceHelp" class="form-text">Input price in IDR</div>
        </div>
        <div class="mb-3">
            <label for="rating" class="form-label">Rating</label>
            <input type="number" class="form-control" id="rating" name="rating" value="{{.data.rating}}" aria-describedby="ratingHelp" required min="1" max="10">
            <div id="ratingHelp" class="form-text">Input rating in range 1 - 10</div>
        </div>
        <div class="mb-3">
            <label for="discount" class="form-label">Discount</label>
            <input type="number" class="form-control" id="discount" name="discount" value="{{.data.discount}}" aria-describedby="discountHelp " required max="100 " required>
            <div id="discountHelp " class="form-text ">Input discount price in %</div>
        </div>
        <button type="submit " class="btn btn-primary ">Submit</button>
    </form>
</div>
{{end}}